*{
    margin: 0;
}

.MainContent{
    margin-left: 300px;
    text-align: left;   
}
.popup{
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #263859;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease-in-out;
}
.PageHeader{
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: #263859;
    padding:10px;
}
/*LOGIN PAGE*/
.PageTitle{
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: #263859;
    padding: 20px;
}
.LoginForm{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 40%;
    position: relative;
    top: 100px;
}
.LoginForm label{
    color: #263859;
    font-size: 1.5rem;
}
.LoginForm input{
    color: #263859;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: solid 1px;
}
.Login{
    font-size: 2.5rem;
    color: #263859;
    text-align: center;
}
.LoginBtn{
    background-color: #263859;
    color: white;
    padding: 10px;
    width: 60%;
    margin: auto;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}
.LoginBtn:hover{
    cursor: pointer;
    background-color: #17223B;

}
/**************************************************************************************/
/*ADD AND UPDATE FORMS*/

/**************************************************************************************/
/*ADD, SAVE, DELETE, UPDATE*/
.AddBtn{
    background-color: #263859;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    border: none;
}
.BackBtn{
    background-color: #263859;
    color: white;
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    border: none;
}
.AddBtn:hover, .UpdateBtn:hover, .SaveBtn:hover{
    background-color: #17223B;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.DeleteBtn{
    margin: 2px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

.DeleteBtn:hover, .ResetBtn:hover{
    background-color: rgb(204, 0, 0);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.UpdateBtn{
    margin: 2px;
    border-radius: 5px;
    color: white;
    background-color: #263859;
    border: none;
    padding: 10px;
   
}
.iconBtn{
    font-size: 15px;
}
.SaveBtn, .ResetBtn{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
}
.ResetBtn{
    margin-left: 10px;
    background-color: red;
    color: white;
}
.SaveBtn{
    background-color: #263859;
    color: white;
}

/**************************************************************************************/
.AddUpdateForm{
    position: relative;
    top:30px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 65%;
}
.Buttons{
    display: flex;
    padding: 20px;
 }
 .AddUpdateForm input, textarea{
    color: #263859;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: solid 1px;
 }
 .AddUpdateForm select{
    color: #263859;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: solid 1px;
 }
 .AddUpdateForm label{
     color: #263859;
    font-size: 1.5rem;
 }

@media screen and (max-width:767px){
    .MainContent{
        margin-left: 90px
    }
    .AddUpdateForm{
        width: 95%;
    }
    .AddUpdateForm label{
        font-size: 1.2rem;
    }
    .Buttons{
        flex-direction: column;
        gap: 15px;
    }
    .SaveBtn{
        width:100%
    }
    .ResetBtn{
        width: 100%;
        margin-left: 0;
    }
    .LoginForm{
        width: 90%;
    }
    .LoginForm input{
        padding: 15px;
        font-size: 1.5rem;
    }
    .LoginBtn{
        font-size: 1.5rem;
    }
    .popup{
        font-size: 1.2rem;
    }
    
}

